.circle {
    height: 134px;
    width: 134px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.label {
    display: none;
    background-color: white;
    padding-inline: 5px;
    border-radius: 10px;
    font-family: Consolas;
}